<h1>Import du disque <%= id %>, "Titre" par Artiste</h1>

<p>
  Les morceaux suivants seront importés dans Rivendell.
  Si ça vous paraît correct, cliquez sur "Importer",
  sinon <a href="TODO">éditez la fiche de ce dique dans Disco</a>
  puis rafraîchissez cette page.
</p>

<p>
  Si aucune track/disque ne match dans Disco:
  mettre un warning
</p>

<p>
  si les tracks s'appellent "Track $i", mettre un warning
</p>



<p>
  <a href="/disco_staging">Annuler</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/disco_import/<%= id %>">Importer</a>
</p>
